define('MYSQL_HOST', '{{ secrets.db_host }}');
define('MYSQL_PORT', 3306);
define('MYSQL_USER', '{{ secrets.db_user }}');
define('MYSQL_PASSWORD', '{{ secrets.db_pass }}');
define('MYSQL_DATABASE', '{{ secrets.db_name }}');
define('SESSION_PROVIDER_URL', 'https://cloud.semui.co/api');

error_reporting(E_ALL ^ E_DEPRECATED);
