.main-layout-header {
  display: none !important;
}
.main-layout-footer {
  display: none !important;
}
.application {
  padding: 0 !important;
}
.main-layout {
  max-width: unset !important;
  background: transparent !important;
}
body {
  background: transparent !important;
}
